In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'X' : [1,2,3,4,5,6,7,8,9],
    'Y' : [11,12,13,14,15,16, 17, 18, 19]
})

In [4]:
df

   X   Y
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15
5  6  16
6  7  17
7  8  18
8  9  19